/* ==========================================================================
   Variables
   ========================================================================== */

// Font Face
// @include fontface('FONT_NAME', 'assets/fonts/', 'FONT_FAMILY');

// Structure
$pageWidth: 100%;
$maxWidth: 1365px;

// Text Selection
$selectionColor: orange;

// Colors
$darkest-blue: #0A384B;
$blue: #08587d;
$primary-blue: #0da7b5;
$light-blue: #A0C9CF;
$grey: #9196a7;
$light-grey: #DBE0E2;
$red: #D52027;
$orange: #F26722;
$yellow: #FBBE15;
