/* ==========================================================================
   Menus
   ========================================================================== */
.site-header {
   position: fixed;
   left: 0;
   right: 0;
   height: auto;
	 background-color: transparent;
	 z-index: 9999999999999;
	 //box-shadow: 0 5px 5px rgba(0,0,0,0.1);
   max-height: 84px;
   transition: all .25s linear;

   img.color { position: relative; top: -157px; transition: all .25s linear;}
   img.white { position: relative; top: 0px; transition: all .25s linear; max-height: 84px;}

   &.alt {
     background-color: #ffffff;

     img.white { top: 100px;  }
     img.color { top: -84px; }
     .main-navigation {

     & ul li:nth-child(6) a {
       border: 1px solid $orange !important;
       background-color: $orange;
       color: white;
       box-shadow: 1px 1.732px 6px 0px rgba(0, 0, 0, 0.15);
     }

     a {
     	color: $primary-blue;

     	&:hover {
     		color: $orange;
      }
     }
   }
 }

   h1 { margin: 0; }
}

.site-branding {
    padding: 14px;
    position: relative;
    max-height: 100px;
    overflow: hidden;
}

.main-menu {
		width: 100%;
		> ul {
			width: 40%;
			display: inline-block;
			font-size: 0;
			float: left;
		}

		.sep {
			width: 20%;
			float: left;
			content: "";
			height: 88px;
		}
}

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	text-align: center;

  li {
  	float: left;
  	position: relative;
  	margin: 0;

    &:hover > ul { opacity: 1; top: 59px; pointer-events: all; z-index: 9999999;}

    &:nth-child(6) a {
      border: 1px solid;
      padding: 11px 26px;
      border-radius: 5px;
      margin-top: 19px;
      margin-right: 27px;
      margin-left: 16px;
    }

    a {
    	display: block;
    	text-decoration: none;
    	text-transform: uppercase;
    	font-size: 15px;
    	font-weight: 100;
    	padding: 30px 19px;
    	text-align: center;
    	color: #fff;
      font-family: 'Bree Serif', serif;

    	&:hover {
    		color: $primary-blue;

    }
  }
}
}

.main-navigation ul ul {
    pointer-events: none;
    opacity: 0;
    float: left;
    left: 0;
    position: absolute;
    top: 30px;
    z-index: 99999;
    width: 500px;
    transition: all .25s linear;

    li {

    a {
      padding: 0 20px;
      text-align: left;
      color: #fff;
      position: relative;
      //top: -52px;
    }
  }
}

.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}

.main-navigation .current_page_item a,
.main-navigation .current-menu-item a {
}

/* Small menu */
.menu-toggle {
	cursor: pointer;
	display: none;
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

.logo {
	position: absolute;
	left: 50%;
	top: 10px;
	transform: translate(-50%);
	text-align: center;

	img { height: 100%; width: 100%; transition: all .25s ease-in-out; }
}

.slide-trigger {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
		z-index: 999;
		transition: all 0.25s linear;

		&.show {
			color: white;
			content: "\f008";
			z-index: 99999
		}

		&:hover {
			cursor: pointer;
		}
}

.slide-menu {
	position: fixed;
	background-color: #131519;
	top: 0;
	right: 0;
	bottom: 0;
	width: 225px;
	right: -225px;
	z-index: 9999;
	transition: right 0.25s linear;

	&.show {
		right: 0;
		transition: right 0.25s linear;
	}

	>ul {
		width: 100%;
		display: block;
		list-style: none;
	}

	.main-menu ul.left, .main-menu ul.right {
		display: block;
		width: 100%;
		margin: 0;
	}

	.sep, .logo { display: none; }

	li {
		margin-bottom: none !important;
	}

	a {
		display: block;
		width: 100%;
		text-align: center;
		color: white;
		font-size: 12px;
		text-decoration: none;
		letter-spacing: 2.5px;
		float: left;
		text-transform: uppercase;
		padding: 10px 0;
		border-top: 1px solid rgba(255,255,255,0.05);

		&:hover {
			background-color: rgba(255,255,255,0.05);
		}
	}



	a.close{
		border-bottom: 1px solid rgba(255,255,255,0.05);
	}

	.main-menu ul ul {
		left: 100%;
		top: 0;
		display: none;
	}

	.main-navigation ul ul a {
		padding: 20px 2vw;
		text-align: center;
	}
}

.push {
		float: right;
}
