/* ==========================================================================
   Menus
   ========================================================================== */
#masthead {
   position: fixed;
   left: 0;
   right: 0;
   height: auto;
	 background-color: transparent;
	 z-index: 9999;
	 box-shadow: 0 5px 5px rgba(0,0,0,0.1);
}

.main-menu {
		width: 100%;
		> ul {
			width: 40%;
			display: inline-block;
			font-size: 0;
			float: left;
		}

		.sep {
			width: 20%;
			float: left;
			content: "";
			height: 88px;
		}
}

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	text-align: center;
}

.main-navigation li {
	float: left;
	position: relative;
	margin: 0;
}

.main-navigation a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2.5px;
	font-weight: bold;
	padding: 34px 1.9vw;
	text-align: center;
	color: #fff;

	&:hover {
		color: green;
	}
}

.main-navigation ul ul {
		box-shadow: 0 3px 3px rgba(0,0,0,.2);
		display: none;
		float: left;
		left: 0;
		position: absolute;
		top: 88px;
		z-index: 99999;
		background-color: rgba(255,255,255,0.9);
		border-top: 2px solid #0092DB;
}

.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}

.main-navigation ul ul a {
	padding: 20px 2vw;
	text-align: left;
}

.main-navigation ul ul li {
}

.main-navigation li:hover > a {
}

.main-navigation ul ul :hover > a {
}

.main-navigation ul ul a:hover {
}

.main-navigation ul li:hover > ul {
	display: block;
}

.main-navigation .current_page_item a,
.main-navigation .current-menu-item a {
}

/* Small menu */
.menu-toggle {
	cursor: pointer;
	display: none;
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

.logo {
	position: absolute;
	left: 50%;
	top: 10px;
	transform: translate(-50%);
	text-align: center;

	img { height: 100%; width: 100%; transition: all .25s ease-in-out; }
}

.slide-trigger {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
		z-index: 999;
		transition: all 0.25s linear;

		&.show {
			color: white;
			content: "\f008";
			z-index: 99999
		}

		&:hover {
			cursor: pointer;
		}
}

.slide-menu {
	position: fixed;
	background-color: #131519;
	top: 0;
	right: 0;
	bottom: 0;
	width: 225px;
	right: -225px;
	z-index: 9999;
	transition: right 0.25s linear;

	&.show {
		right: 0;
		transition: right 0.25s linear;
	}

	>ul {
		width: 100%;
		display: block;
		list-style: none;
	}

	.main-menu ul.left, .main-menu ul.right {
		display: block;
		width: 100%;
		margin: 0;
	}

	.sep, .logo { display: none; }

	li {
		margin-bottom: none !important;
	}

	a {
		display: block;
		width: 100%;
		text-align: center;
		color: white;
		font-size: 12px;
		text-decoration: none;
		letter-spacing: 2.5px;
		float: left;
		text-transform: uppercase;
		padding: 10px 0;
		border-top: 1px solid rgba(255,255,255,0.05);

		&:hover {
			background-color: rgba(255,255,255,0.05);
		}
	}



	a.close{
		border-bottom: 1px solid rgba(255,255,255,0.05);
	}

	.main-menu ul ul {
		left: 100%;
		top: 0;
		display: none;
	}

	.main-navigation ul ul a {
		padding: 20px 2vw;
		text-align: center;
	}
}

.push {
		float: right;
}
