/* ==========================================================================
   Home Page Template
   ========================================================================== */

body.home {}

.fade {
		opacity: 0.25;
}

.home-hero {
    height: 100vh;
		position: relative;
		background-size: cover;
		background-repeat: no-repeat;
		@include herogradient;

		&::before {
		  bottom: 0;
		  content: '';
		  display: block;
		  height: 45px;
		  left: 0;
		  position: absolute;
		  right: 0;
		  transform: skewY(-1.5deg);
		  transform-origin: 100%;
		  z-index: 99999999;
			background: white;;
}


		h1 {
			color: #fff;
			line-height: 1.229;
			text-shadow: 0 0 87px rgba(0,0,0,.004);
			position: absolute;
			left: 50%;
			top: 10vw;
			z-index: 117;
			-webkit-transform: translate(-50%);
			transform: translate(-50%);
			padding: 0 16vw;
			font-size: 48px;
			text-align: center;
			width: 100%;


			span {
				color: $yellow;
				position: relative;

				&::after {
					content: "";
					height: 2px;
					width: 100%;
					background-color: white;
					position: absolute;
					bottom: -5px;
					left: 0;
				}
			}
		}

		p {
			color: #fff;
			line-height: 1.229;
			text-shadow: 0 0 87px rgba(0,0,0,.004);
			position: absolute;
			left: 50%;
			bottom: 8vw;
			z-index: 117;
			-webkit-transform: translate(-50%);
			transform: translate(-50%);
			padding: 0 23vw;
			font-size: 24px;
			text-align: center;
			width: 100%;

		}
}

.site.title { font-size: 0; }

.home-donate {
    height: 100vh;
		position: relative;
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		@include herogradient;

		span {

			z-index: 999;
			position: absolute;
			top: 9vw;
			left: 12vw;
			max-width: 650px;


		h2 {
		  font-size: 36px;
		  position: relative;
			color: rgb(255, 255, 255);
		  line-height: 1.25;
			text-shadow: 0 0 87px rgba(0,0,0,.004);
			text-align: left;
		}

		p {
			color: #fff;
			line-height: 1.229;
			text-shadow: 0 0 87px rgba(0,0,0,.004);
			text-align: left;
		}

	}


				&::before {
				  top: -3vw;
				  content: '';
				  display: block;
				  height: 45px;
				  left: 0;
				  position: absolute;
				  right: 0;
				  transform: skewY(-1.5deg);
				  transform-origin: 100%;
				  z-index: 99999999;
					background: white;;
		}
}

#thirds {
	padding: 150px 0;
	position: relative;

	.four.columns {

		text-align: center;

		h2 {
			font-size: 24px;
		}

		i {
			font-size: 60px;
			padding-bottom: 30px;
		}
	}
}

.rain-is {
    height: 100vh;
		position: relative;
		background-size: cover;
		background-repeat: no-repeat;
		@include herogradient;

		&::before {
		  top: 0;
		  content: '';
		  display: block;
		  height: 45px;
		  left: 0;
		  position: absolute;
		  right: 0;
		  transform: skewY(1.5deg);
		  transform-origin: 100%;
		  z-index: 99999999;
			background: white;;
		}

		p {
		color: white;
		z-index: 999;
		position: absolute;
		bottom: 0;
		padding: 0 1.7vw 1.7vw 1.7vw;
		font-family: "Bree Serif", serif;
		font-size: 1.5vw;
		font-weight: 100;

	}

	h2 {
		color: white;
		z-index: 999;
		position: absolute;
		top: 5vw;
		font-family: "Bree Serif", serif;
		font-size: 2.8vw;
		left: 40%;
	}

}

.info-block {
	padding-top: 7vw;
	padding-bottom: 7vw;

	h2 {
		font-size: 36px;
		color: $blue;
		line-height: 1;
	}
}

.sub { font-weight: bold;}
